.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/hs_err_pid13240.log
addressbook-web-tests/hs_err_pid15436.log
addressbook-web-tests/src/test/resources/address.csv
addressbook-web-tests/src/test/resources/address.xml
addressbook-web-tests/src/test/resources/groups.csv
addressbook-web-tests/src/test/resources/groups.xml
addressbook-web-tests/src/test/resources/groups.json
addressbook-web-tests/src/test/resources/address.json
